# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Node modules (IGNORER ces dossiers)
node_modules/

# Build / dist
dist/
dist-ssr/

# Local environment files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# (Si tu as un backend Express)
Express_Server/node_modules/
Express_Server/dist/
